*{
	padding:0;
	margin:0;	
}

h1{
	text-align:center;
	margin:25px;
}


#wrapper1 div, #wrapper2 div{
	width: 160px;
	height: 60px;
	padding: 10px;
	margin: 20px;
	border: 2px solid black;
}

#wrapper1 div:first-of-type{
	border-radius: 50%;
	height: 160px;
}

#wrapper1 div:nth-of-type(2){
	border-radius: 30px/10px;
}

#wrapper1 div:nth-of-type(3){
	border-radius: 10px 20px 30px 40px;
}

#wrapper2 div:first-of-type{
	box-shadow: 16px 13px aquamarine;
}

#wrapper2 div:nth-of-type(2){
	box-shadow: -16px 13px aquamarine;
}

#wrapper2 div:nth-of-type(3){
	box-shadow: 16px 13px 10px aquamarine;
}

#wrapper2 div:nth-of-type(4){
	box-shadow: inset 16px 13px 10px aquamarine;
}

#wrapper2 div:nth-of-type(5){
	box-shadow: 4px 2px 2px #0f0, 
				8px 4px 4px #fff,
				12px 6px 6px #f00;
}

#wrapper2 div:nth-of-type(6){
	box-shadow: 4px 4px 2px aquamarine, 
				-4px -4px 2px aquamarine;
	text-shadow: 2px 2px 2px blueviolet;
}

button{
	padding: 10px;
	margin: 20px;
	box-shadow: 4px 3px 2px aquamarine;
}

button:active{
	box-shadow: inset 4px 3px 2px aquamarine;
}