*{
    margin: 2%;
    padding: 0;
}
h1 {
    text-align: center;
    padding: 20px;
}

#wrapper{
    max-width: 700px;
    margin: 10px auto; 
    background-color: #aaa;
    border: 1px solid red; 
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
}

header, nav, footer {
    height: 100px;
    line-height: 100px;
}

header {
    background-color: #ff0;
}

nav {
    background-color: #0f0;
}

footer{
    background-color: blue;
    color: white;
}

section{
    border: 1px solid #000;
    background-color: #f0f;
}

article{
    background-color: #0ff;
    width: 62%;
    height: 160px;
    /*margin-left: 35%; alternativa a overflow auto funzionano entrambe*/
    overflow: auto;
}

aside {
    background-color: #090;
    width: 31%;
    height: 335px;
    float: left;
    margin-top: 0;
}

section>p{
    padding: 25px;
}