.pulsante {
    display: block;
    border: 1px solid #333;
    border-left-width: 6px;
    width: 100px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #444;
    background-color: #ddd;
}
.pulsante:hover{
    background-color: #444;
    color: #ddd;
    text-decoration: underline;
    cursor: pointer;
    border-left: 6px solid #ddd;
}